@font-face {
  font-family: 'Caesar-Dressing';
  font-style: normal;
  src: url('~assets/style/CaesarDressing-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa-Regular';
  font-style: normal;
  src: url('~assets/style/NexaRegular.otf') format('truetype');
}
@font-face {
  font-family: 'Nexa-Black';
  font-style: normal;
  src: url('~assets/style/NexaBlack.otf') format('truetype');
}
@font-face {
  font-family: 'Nexa-Bold';
  font-style: normal;
  src: url('~assets/style/NexaBold.otf') format('truetype');
}
